<h1>Cryptos Portfolio</h1>
<br />
<table class="success table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <th>Current Value</th>
      <th>Cost Basis</th>
      <th>Gain/Loss</th>
      <th>Cost Per Crypto </th>
      <th>Quantity</th>  
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
          <tr>
          <% for a in @lookup_crypto %>
              <% if crypto.symbol == a["symbol"] %>
                <td><%= link_to a["name"], crypto %></td>
                <td><%= crypto.symbol %></td>
                <!-- if need to change decimal total value, use the ruby helper method: number_to_currency (a["price_usd"]) and .to_d converts string into decimal-->
                <td>$<%= a["price_usd"] %></td>
                <!-- Current Value -->
                <td><%= number_to_currency (a["price_usd"].to_d * crypto.amount_owned) %></td>
                <!-- Cost Basis -->
                <td><%= number_to_currency (crypto.cost_per * crypto.amount_owned) %></td>
                <!-- Gain/Loss -->
                <td><%= number_to_currency ((a["price_usd"].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned)) %></td>
              <% end %>
          <% end %>
          <!-- Cost Per Crypto -->
          <td>$<%= crypto.cost_per %></td>
          <!-- Quantity -->
          <td><%= crypto.amount_owned %></td> 
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path, class:"btn btn-info" %>
