<%= link_to 'Back', cryptos_path %>
<br />
<br />
<p>
  <strong>Symbol:</strong>
  <%= @crypto.symbol.upcase %>
</p>

<p>
  <strong>Cost Per:</strong>
  <%= @crypto.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypto.amount_owned %>
</p>

<%= link_to 'Edit', edit_crypto_path(@crypto) %> |
<%= link_to 'Delete', crypto_path(@crypto), method: :delete, data: { confirm: 'Are you sure?' } %>
